GOOGLE_CALENDAR_ID=XXX@group.calendar.google.com
GOOGLE_SERVICE_ACCOUNT_JSON_FILE=myagent-XXX.json
RUBITIME_API_KEY=XXX
RUBITIME_BRANCH_ID=123
RUBITIME_COOPERATOR_ID=123
RUBITIME_SERVICE_ID=123
RUBITIME_ONLY_AVAILABLE=true
RUBITIME_SYNC_INTERVAL_SECONDS=300
EVENT_TIMEZONE=Europe/Moscow
EVENT_LOCATION=Москва
GOOGLE_EVENT_COLOR_ID=5
CALENDAR_SUMMARY_TEMPLATE={payment_icon} {name}
LOG_LEVEL=INFO
APP_HOST=0.0.0.0
APP_PORT=8000
